.price {
	margin-left: 1em;
	padding: 0.2em;
	background-color: lightgreen;
}
.mana-symbol {
	margin-left: 1em;
	margin-right: 1em;
}
#header-middle {
	line-height: 11em;
}
#similar {
	-moz-column-count: 3;
	-webkit-column-count: 3;
}
.card-image {
	height: 24em;
}
.land-image {
	height: 16em;
	max-width: 11em;
}
#edh-spacer {
	height: 7em;
}